<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <meta name="description" content="멘토티멘토링, 입문 소프트웨어 개발자를 위한 좋은 습관 만들기 프로젝트">
    <meta name="author" content="trtech">
    <meta name="keywords" content= "멘토티멘토링, 소토멘토링, 개발자멘토링, 소토피아">

    <title>멘토티멘토링 - 개발자멘토링, 소토멘토링, 소토피아, SNTR학습법, 소토정신</title>
    
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
    <!-- fevicon -->
    <link rel="icon" href="{{url_for('static', filename='images/fevicon.png')}}" type="icon">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.mCustomScrollbar.min.css')}}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets --> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <!-- header section start -->
    {% include "navbar.html" %}
    <!-- header section end -->
    <!--base templates start-->
    {% block content %}
    {% endblock %}
    <!--base template end-->
    <!-- footer section start -->
    {% include "footer.html" %}
    <!--  footer section end -->
    <!-- Javascript files-->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.0.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/plugin.js')}}"></script>
    <!-- sidebar -->
    <script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <!-- javascript --> 
    <script src="{{url_for('static', filename='js/owl.carousel.js')}}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
</body>
</html>      