<!--footer-->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h1 class="customer_text">Mentotee</h1>
                <a class="footer_lorem_text1" href="{{url_for('main.index')}}">Home</a>
                <a class="footer_lorem_text1" href="{{url_for('main.course')}}">Course</a>
                <a class="footer_lorem_text1" href="{{url_for('main.about')}}">About us</a>
                <a class="footer_lorem_text1" href="{{url_for('main.review')}}">Review</a>
                <a class="footer_lorem_text1" href="{{url_for('main.course')}}">Contact us</a>
            </div>
        </div>
    </div>
</div>
<!--copyright-->
<div class="copyright_section">
    <div class="container">
        <div class="social_icon">
            <ul>
                <li><a href="#"><img src="{{url_for('static', filename='images/fb-icon.png')}}"></a></li>
                <li><a href="#"><img src="{{url_for('static', filename='images/twitter-icon.png')}}"></a></li>
                <li><a href="#"><img src="{{url_for('static', filename='images/instagram-icon.png')}}"></a></li>
                <li><a href="#"><img src="{{url_for('static', filename='images/linkedin-icon.png')}}"></a></li>
            </ul>
        </div>
        <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
    </div>